In [9]:
import pandas as pd

car_row = pd.read_csv('data/car.data', header=None)
car_row.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [10]:
car_row.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1728 non-null   object
 1   1       1728 non-null   object
 2   2       1728 non-null   object
 3   3       1728 non-null   object
 4   4       1728 non-null   object
 5   5       1728 non-null   object
 6   6       1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [11]:
#컬럼 이름을 추가하기
column_name = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
data = car_row.values.tolist()
car_df = pd.DataFrame(data, columns=column_name)

car_df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [12]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [13]:
#문자 데이터를 숫자로 바꾸는 2가지 방안에 대해서 설명
#모든 문자 카테고리 데이터를 숫자(one-hot encoding)으로 변경
car_df = pd.get_dummies(car_df, dtype='int') # columns=None 파라미터 생략
car_df.head()

,buying_high,buying_low,buying_med,buying_vhigh,maint_high,maint_low,maint_med,maint_vhigh,doors_2,doors_3,...,lug_boot_big,lug_boot_med,lug_boot_small,safety_high,safety_low,safety_med,class_acc,class_good,class_unacc,class_vgood
0,0,0,0,1,0,0,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
1,0,0,0,1,0,0,0,1,1,0,...,0,0,1,0,0,1,0,0,1,0
2,0,0,0,1,0,0,0,1,1,0,...,0,0,1,1,0,0,0,0,1,0
3,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,1,0,0,0,1,0
4,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0

In [14]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   buying_high     1728 non-null   int32
 1   buying_low      1728 non-null   int32
 2   buying_med      1728 non-null   int32
 3   buying_vhigh    1728 non-null   int32
 4   maint_high      1728 non-null   int32
 5   maint_low       1728 non-null   int32
 6   maint_med       1728 non-null   int32
 7   maint_vhigh     1728 non-null   int32
 8   doors_2         1728 non-null   int32
 9   doors_3         1728 non-null   int32
 10  doors_4         1728 non-null   int32
 11  doors_5more     1728 non-null   int32
 12  persons_2       1728 non-null   int32
 13  persons_4       1728 non-null   int32
 14  persons_more    1728 non-null   int32
 15  lug_boot_big    1728 non-null   int32
 16  lug_boot_med    1728 non-null   int32
 17  lug_boot_small  1728 non-null   int32
 18  safety_high     1728 non-null   int32
 19  safety_low      1728 non-null   int32
 20  safety_med      1728 non-null   int32
 21  class_acc       1728 non-null   int32
 22  class_good      1728 non-null   int32
 23  class_unacc     1728 non-null   int32
 24  class_vgood     1728 non-null   int32
dtypes: int32(25)
memory usage: 168.9 KB

In [15]:
# feature와 target 으로 분리
X = car_df.iloc[:, :21]
y = car_df.iloc[:, 21:]

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   buying_high     1728 non-null   int32
 1   buying_low      1728 non-null   int32
 2   buying_med      1728 non-null   int32
 3   buying_vhigh    1728 non-null   int32
 4   maint_high      1728 non-null   int32
 5   maint_low       1728 non-null   int32
 6   maint_med       1728 non-null   int32
 7   maint_vhigh     1728 non-null   int32
 8   doors_2         1728 non-null   int32
 9   doors_3         1728 non-null   int32
 10  doors_4         1728 non-null   int32
 11  doors_5more     1728 non-null   int32
 12  persons_2       1728 non-null   int32
 13  persons_4       1728 non-null   int32
 14  persons_more    1728 non-null   int32
 15  lug_boot_big    1728 non-null   int32
 16  lug_boot_med    1728 non-null   int32
 17  lug_boot_small  1728 non-null   int32
 18  safety_high     1728 non-null   int32
 19  safety_low      1728 non-null   int32
 20  safety_med      1728 non-null   int32
dtypes: int32(21)
memory usage: 141.9 KB

In [17]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   class_acc    1728 non-null   int32
 1   class_good   1728 non-null   int32
 2   class_unacc  1728 non-null   int32
 3   class_vgood  1728 non-null   int32
dtypes: int32(4)
memory usage: 27.1 KB

In [18]:
# 훈련데이터 테스트 데이터 분리
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True)

In [19]:
# 모델
from tensorflow.keras import models, layers

model = models.Sequential()
model.add(layers.Dense(42, input_dim=21, activation='relu'))
model.add(layers.Dense(21, activation='relu'))
model.add(layers.Dense(12, activation='relu'))
model.add(layers.Dense(4, activation='softmax'))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 42)                924

 dense_1 (Dense)             (None, 21)                903

 dense_2 (Dense)             (None, 12)                264

 dense_3 (Dense)             (None, 4)                 52

=================================================================
Total params: 2,143
Trainable params: 2,143
Non-trainable params: 0
_________________________________________________________________

In [20]:
#학습
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=20, batch_size=10)

Epoch 1/20
130/130 [==============================] - 1s 4ms/step - loss: 0.9132 - accuracy: 0.6497 - val_loss: 0.6165 - val_accuracy: 0.7245
Epoch 2/20
130/130 [==============================] - 0s 2ms/step - loss: 0.5133 - accuracy: 0.7693 - val_loss: 0.3441 - val_accuracy: 0.8681
Epoch 3/20
130/130 [==============================] - 0s 2ms/step - loss: 0.2894 - accuracy: 0.8873 - val_loss: 0.2433 - val_accuracy: 0.9120
Epoch 4/20
130/130 [==============================] - 0s 2ms/step - loss: 0.2098 - accuracy: 0.9298 - val_loss: 0.1989 - val_accuracy: 0.9259
Epoch 5/20
130/130 [==============================] - 0s 2ms/step - loss: 0.1635 - accuracy: 0.9452 - val_loss: 0.1826 - val_accuracy: 0.9421
Epoch 6/20
130/130 [==============================] - 0s 2ms/step - loss: 0.1291 - accuracy: 0.9576 - val_loss: 0.1713 - val_accuracy: 0.9514
Epoch 7/20
130/130 [==============================] - 0s 2ms/step - loss: 0.1020 - accuracy: 0.9707 - val_loss: 0.1566 - val_accuracy: 0.9560
Epoch 8/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0933 - accuracy: 0.9730 - val_loss: 0.1611 - val_accuracy: 0.9468
Epoch 9/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0713 - accuracy: 0.9815 - val_loss: 0.1389 - val_accuracy: 0.9606
Epoch 10/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0600 - accuracy: 0.9853 - val_loss: 0.1471 - val_accuracy: 0.9630
Epoch 11/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0552 - accuracy: 0.9846 - val_loss: 0.1145 - val_accuracy: 0.9653
Epoch 12/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0482 - accuracy: 0.9892 - val_loss: 0.1229 - val_accuracy: 0.9653
Epoch 13/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0399 - accuracy: 0.9923 - val_loss: 0.1096 - val_accuracy: 0.9676
Epoch 14/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0332 - accuracy: 0.9931 - val_loss: 0.1099 - val_accuracy: 0.9722
Epoch 15/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0295 - accuracy: 0.9954 - val_loss: 0.1029 - val_accuracy: 0.9676
Epoch 16/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0274 - accuracy: 0.9923 - val_loss: 0.0972 - val_accuracy: 0.9699
Epoch 17/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0215 - accuracy: 0.9985 - val_loss: 0.0919 - val_accuracy: 0.9699
Epoch 18/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0207 - accuracy: 0.9969 - val_loss: 0.0934 - val_accuracy: 0.9769
Epoch 19/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0180 - accuracy: 0.9977 - val_loss: 0.0860 - val_accuracy: 0.9699
Epoch 20/20
130/130 [==============================] - 0s 2ms/step - loss: 0.0148 - accuracy: 0.9992 - val_loss: 0.0787 - val_accuracy: 0.9769

In [ ]:
# 학습과정의 정확도 시각화
import numpy as np
import matplotlib.pyplot as plt

y_vacc = history.history['val_accuracy']

y_acc = history.history['accuracy']


x_len = np.arange(len(y_acc))
plt.plot(x_len, y_vacc, marker='.', c="red", label='Testset_accuracy')
plt.plot(x_len, y_acc, marker='.', c="blue", label='Trainset_accuracy')

plt.legend()
plt.grid()
plt.xlabel('epoch')
plt.ylabel('accuracy')
plt.show()